<div class='matchBox matchWin'>
	<div class='matchHeader'>
		<div class='matchType'>
			Ranked Solo
		</div>
		<div class='matchResult'>
			Victory
		</div>
	</div>
	<div class='matchDetails'>
		Details 
		<br>
		Details <br>
		Details
	</div>
</div>