<% team_players.each do |player| %>
<div class='player'>
	<div class='champIcon'>
	</div>
	<div class='summonerName'>
	<a href='lookup/?username=<%= player %>'><%= player %></a>
	</div>
</div>
<% end %>