<div class="lookupBackground">
	<h1>
		KillGraph
	</h1>
	<div class="map">
	</div>
	<div class="match_history">
	</div>
	<span class="username" data-username="<%= @username %>"></span>
	<h2>
		<%= @data %>
	</h2>
</div>