<div class='tiphoverContainer' style="display: none">
	<div class="topCaret" style="display: none"></div>
	<div class='tiphover'>
		jelkajrleja jlkaere kaerjke eaer ae aelkrae kaejrka ek aer aejrakle rkle aler kla ejrkjae a
	</div>

	<div class="bottomCaret" style="display: none"></div>
</div>

<div class="lookupBackground">
	<h1>
		KillGraph
	</h1>
	<div class="map">
	</div>
	<div class="match_history">
	</div>
	<span class="username" data-username="<%= @username %>"></span>
	<h2>
		<%= @data %>
	</h2>
</div>