<div class='tiphoverContainer' style="display: none">
	<div class="topCaret" style="display: none"></div>
	<div class='tiphover'>
		tip
	</div>

	<div class="bottomCaret" style="display: none"></div>
</div>

<div class="lookupBackground">
	<h1>
		KillGraph
	</h1>
	<% if @is_valid_user %>
		<span class="username" data-username="<%= @username %>"></span>
		<div class="map">
		</div>
		<div class="match_history">
		</div>
	<% else %>
		This user does not exist
	<% end %>
</div>