// Place all the styles related to the killgraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family-sans-serif-alt: "Roboto";

body {
	background-color: black;
	margin: 0;
}

.lookupBackground{
	background-color: white;
}

.indexBackground{
	background-image: url('/assets/reksai.jpg');
	background-position: center 0;
	background-repeat:  no-repeat;
	margin: 0 auto;
	width: 1920px;
	height: 1080px;
	padding-top: 350px;
}

.indexFormContainer{
	background: #623886;
	font-family: $font-family-sans-serif-alt;
	font-size: 40px;
	color: white;
	border-radius: 5px;
	width: 300px;
	margin: 0 auto;
	padding: 50px;

	label {
		margin-bottom: 20px;
		display: inline-block;
	}

	#username {
		font-size: 20px;
		padding: 10px;
		width: 250px;
	}
}

.map{
	background-image: url('/assets/newmap.png');
	background-position: center 0;
	background-repeat: no-repeat;
	margin: 0 auto;
	position: relative;
	width: 512px;
	height: 512px;
}

.kill{
	background-image: url('/assets/kill.png');
	position: absolute;
	width: 24px;
	height: 24px;
}