// Place all the styles related to the killgraph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family-sans-serif-alt: "Roboto";
$match-height: 150px;
/* http://ddragon.leagueoflegends.com/cdn/5.1.1/img/item/ */

body {
	background-color: black;
	margin: 0;
}

.lookupBackground{
	background-color: white;
}

.indexBackground{
	background-image: url('/assets/reksai.jpg');
	background-position: center 0;
	background-repeat:  no-repeat;
	margin: 0 auto;
	width: 1920px;
	height: 1080px;
	padding-top: 350px;
}

.indexFormContainer{
	background: #623886;
	font-family: $font-family-sans-serif-alt;
	font-size: 40px;
	color: white;
	border-radius: 5px;
	width: 300px;
	margin: 0 auto;
	padding: 50px;

	label {
		margin-bottom: 20px;
		display: inline-block;
	}

	#username {
		font-size: 20px;
		padding: 10px;
		width: 250px;
	}
}

.map{
	background-image: url('/assets/newmap.png');
	background-position: center 0;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	width: 512px;
	height: 512px;
}

.match_history {
	background-color: grey;
	float: left;
	display: inline-block;
	height: 512px;
	width: 800px;
}

.kill{
	background-image: url('/assets/kill.png');
	position: absolute;
	width: 24px;
	height: 24px;
}

.matchBox {
	margin: 3px;
	background: white;
}

.matchLose {

}

.matchWin {
	background: #b6daf2;
}

.matchHeader {
	position: relative;
	padding: 5px;
}

.matchBox.matchWin > .matchHeader{
	background: #a0cfee;
}

.matchDetails{
	padding: 5px;
	display: table;
}

.matchType {
	width: 300px;
	display: inline-block;
}

.matchResult {
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: right;
}

.matchDetails > div {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}

.champPortrait {
	height: 55px;
	width: 55px;
	border-radius: 55px;
	background-image: url('http://sf.op.gg/images/champions/garen_square_0.png');
	background-size: 55px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.itemsTrinket {
	text-align: center;
}

.itemsTrinket .item {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.spell {
	height: 27px;
	width: 27px;
	background-image: url('http://sf.op.gg/images/lol/spell/SummonerSmite.png');
	background-size: 27px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.miscInfo, .killInfo {
	text-align: center;
}

.item {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url('http://sf.op.gg/images/lol/spell/SummonerSmite.png');
	background-size: 32px;
	border-radius: 5px;
}

.items {
	width: 105px;
}

.players {
	display: inline-block;
	margin-right: 5px;
}

.player > div {
	display: inline-block;
}

.champIcon {
	width: 16px;
	height: 16px;
	background-image: url('http://sf.op.gg/images/champions/garen_square_0.png');
	background-size: 16px;
	border-radius: 2px;
}

.topCaret {
	height: 0px;
	width: 0px;
	border: 10px solid purple;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-width: 0;
	margin: 0 auto;
}

.bottomCaret {
	height: 0px;
	width: 0px;
	border: 10px solid purple;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-width: 0;
	margin: 0 auto;
}

.tiphover {
	color: white;
	padding: 5px;
	max-width: 300px;
	border-radius: 5px;
	background: purple;
}

.tiphoverContainer {
	position: absolute;
	z-index: 10
}